<div class="layout-container" fxLayout="column" fxFlexFill>
  <header>
    <app-top-nav [isWhite]="true"></app-top-nav>
  </header>
  <div class="signin-container">
    <div class="banner-bg"></div>

    <div class="content-wrapper">
      <div class="banner-content">
        <div class="banner-inner">
          <div class="welcome-section">
            <div class="welcome-text">{{'Log in' | translate}}</div>
            <div class="bnb-text">{{'Welcome to Log-in' | translate}}<br>{{'HADM GLOBAL' | translate}}</div>
          </div>
          <img src="/sign-in-icon.svg" class="hero-image-banner" alt="Hand Holding Phone" />
        </div>
      </div>

      <div class="login-card">

        <form [formGroup]="loginForm" class="formField" (ngSubmit)="onSubmit()">
          <div class="password-section">
            <div class="section-labels">
              <span
                [class.error-label]="loginForm.get('email')?.invalid && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)">
                {{'Email / Username' | translate}}
              </span>
            </div>
            <div class="custom-input-wrapper">
              <input type="text" class="custom-input-box" formControlName="email"
                placeholder="{{'Enter your Email/Username' | translate}}" />
            </div>
            <div class="error-msg"
              *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched">
              {{'Email or Username is required' | translate}}
            </div>
          </div>
          <!-- Password Section -->
          <div class="password-section" style="margin-bottom: 0px;">
            <div class="section-labels">
              <span
                [class.error-label]="loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)">
                {{'Password' | translate}}
              </span>
            </div>
            <div class="custom-input-wrapper">
              <input [type]="hidePassword ? 'password' : 'text'" class="custom-input-box" formControlName="password"
                placeholder="{{'Enter your Password' | translate}}" />
              <button class="eye-btn" type="button" (click)="togglePasswordVisibility()">
                <img src="/password-eye.svg" alt="Toggle Password" />
              </button>
            </div>
            <div class="error-msg"
              *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
              {{'Password is required' | translate}}
            </div>
          </div>

          <!-- Remember Me and Forgot Password -->
          <div class="form-options">
            <div class="remember-me-wrapper">
              <mat-checkbox class="remember-checkbox custom-green-checkbox" formControlName="rememberMe"></mat-checkbox>
              <label class="remember-me-label">{{'Remember me' | translate}}</label>
            </div>
            <a [routerLink]="['/forget']" class="forgot-password green-text">{{'Forgot password?' | translate}}</a>
          </div>

          <!-- Captcha Placeholder -->
          <div class="captcha-placeholder-container">
            <div class="captcha-content">
              <mat-checkbox class="remember-checkbox custom-green-checkbox" formControlName="captcha"></mat-checkbox>
              <span class="captcha-text">{{ "I'm not a robot" | translate }}</span>
            </div>
            <img src="/recaptche.svg" alt="reCAPTCHA" class="captcha-img" />
          </div>

          <!-- Login Button -->
        </form>
      </div>
    </div>
  </div>
  <footer class="footer">
    <button mat-raised-button (click)="onSubmit()" type="submit" class="login-button" [disabled]="loginForm.invalid">
      {{'Log In' | translate}}
    </button>
    <!-- Sign Up Link -->
    <div class="signup-link">
      <span>{{"Don't have an account" | translate}} </span>
      <a [routerLink]="['/signup']" class="signup-text" style="margin-left: 4px;"> {{'Sign Up' | translate}}</a>
    </div>
  </footer>
</div>