<div class="page-container">
  <div class="banner">
    <app-top-nav></app-top-nav>
    <div class="banner-body">
      <div class="back-btn-wrap" (click)="goBack()">
        <img src="/leftarraow.svg" alt="back" style="filter: brightness(0) invert(1);" />
      </div>
      <h2>{{ 'Change password' | translate }}</h2>
      <p>{{ 'Create a new password. Ensure it differs from previous ones for security.' | translate }}</p>
    </div>
  </div>

  <div class="form-container">
    <form [formGroup]="form">
      <div class="input-group">
        <label>{{ 'New password' | translate }}</label>
        <input type="password" formControlName="newPassword" placeholder="{{ 'Enter your new password' | translate }}" />
        <div class="error-msg" *ngIf="form.get('newPassword')?.touched && form.get('newPassword')?.invalid">
          {{ 'Password must be at least 6 characters' | translate }}
        </div>
      </div>
      
      <div class="input-group">
        <label>{{ 'Confirm New password' | translate }}</label>
        <input type="password" formControlName="confirmPassword" placeholder="{{ 'Enter your new password' | translate }}" />
        <div class="error-msg" *ngIf="form.errors?.['mismatch']">
          {{ 'Passwords do not match.' | translate }}
        </div>
      </div>
    </form>
  </div>

  <div class="bottom-buttons">
    <button class="primary-btn" (click)="updatePassword()">{{ 'Update password' | translate }}</button>
    <button class="secondary-btn" (click)="goBack()">{{ 'Cancel' | translate }}</button>
  </div>
</div>