<div class="layout-container" fxLayout="column" fxFlexFill>
  <header>
    <app-top-nav [isWhite]="false"></app-top-nav>
  </header>

  <div class="signin-container">
    <div class="banner-bg"></div>

    <div class="content-wrapper">
      <div class="banner-content">
        <div class="banner-inner">
          <div class="welcome-section">
            <div class="welcome-text">{{'Registration' | translate}}</div>
            <div class="bnb-text">{{'Welcome to Sign-in' | translate}}<br>{{'HADM GLOBAL' | translate}}</div>
          </div>
          <img src="/sign-in-icon.svg" class="hero-image-banner" alt="Hand Holding Phone" />
        </div>
      </div>

      <!-- Signup Card -->
      <div class="login-card">

        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="formField">
          <!-- Name -->
          <div class="password-section">
            <div class="section-labels">
              <span [class.error-label]="signupForm.get('name')?.invalid && (signupForm.get('name')?.touched || signupForm.get('name')?.dirty)">
                {{ 'Username' | translate }}
              </span>
            </div>
            <div class="custom-input-wrapper">
              <input type="text" class="custom-input-box" formControlName="name" placeholder="{{'Enter your Username' | translate}}" />
            </div>
            <div class="error-msg" *ngIf="signupForm.get('name')?.hasError('required') && signupForm.get('name')?.touched">
              {{ 'Username is required' | translate }}
            </div>
          </div>

          <!-- Email -->
          <div class="password-section">
            <div class="section-labels">
              <span [class.error-label]="signupForm.get('email')?.invalid && (signupForm.get('email')?.touched || signupForm.get('email')?.dirty)">
                {{ 'Email' | translate }}
              </span>
            </div>
            <div class="custom-input-wrapper">
              <input type="email" class="custom-input-box" formControlName="email" placeholder="{{'Enter your Email ID' | translate}}" />
            </div>
            <div class="error-msg" *ngIf="signupForm.get('email')?.hasError('required') && signupForm.get('email')?.touched">
              {{ 'Email is required' | translate }}
            </div>
            <div class="error-msg" *ngIf="signupForm.get('email')?.hasError('email') && signupForm.get('email')?.touched">
              {{ 'Please enter a valid email' | translate }}
            </div>
          </div>



          <!-- Password -->
          <div class="password-section">
            <div class="section-labels">
              <span [class.error-label]="signupForm.get('password')?.invalid && (signupForm.get('password')?.touched || signupForm.get('password')?.dirty)">
                {{ 'Login Password' | translate }}
              </span>
            </div>
            <div class="custom-input-wrapper">
              <input [type]="hidePassword ? 'password' : 'text'" class="custom-input-box" formControlName="password" placeholder="{{'Enter your Password' | translate}}" />
              <button class="eye-btn" type="button" (click)="togglePasswordVisibility()">
                <img src="/password-eye.svg" alt="Toggle Password" />
              </button>
            </div>
            <div class="error-msg" *ngIf="signupForm.get('password')?.hasError('required') && signupForm.get('password')?.touched">
              {{ 'Password is required' | translate }}
            </div>
          </div>

          <!-- E-PIN -->
          <div class="password-section">
            <div class="section-labels">
              <span [class.error-label]="signupForm.get('epin')?.invalid && (signupForm.get('epin')?.touched || signupForm.get('epin')?.dirty)">
                {{ 'Confirm Login Password' | translate }}
              </span>
            </div>
            <div class="custom-input-wrapper">
              <input [type]="hidePassword ? 'password' : 'text'" class="custom-input-box" formControlName="epin" maxlength="6" placeholder="Re-enter your Password" />
              <button class="eye-btn" type="button" (click)="togglePasswordVisibility()">
                <img src="/password-eye.svg" alt="Toggle Password" />
              </button>
            </div>
            <div class="error-msg" *ngIf="signupForm.get('epin')?.hasError('required') && signupForm.get('epin')?.touched">
              {{ 'Confirm Password is required' | translate }}
            </div>
          </div>

          <!-- Confirm E-PIN -->
          <div class="password-section">
            <div class="section-labels">
              <span [class.error-label]="signupForm.get('confirmEpin')?.invalid && (signupForm.get('confirmEpin')?.touched || signupForm.get('confirmEpin')?.dirty)">
                {{ 'Affiliate Key' | translate }}
              </span>
            </div>
            <div class="custom-input-wrapper">
              <input type="text" class="custom-input-box" formControlName="confirmEpin" maxlength="6" placeholder="Enter Affiliate Key" />
            </div>
            <div class="error-msg" *ngIf="signupForm.get('confirmEpin')?.hasError('mismatch') && signupForm.get('confirmEpin')?.touched">
              Passwords do not match
            </div>
          </div>

          <!-- Terms and Conditions -->
          <div class="form-options">
            <mat-checkbox class="remember-checkbox" formControlName="terms">
              <span class="terms-text">
                {{ 'By continuing, you acknowledge and agree to the' |translate }} 
                <span [routerLink]="['/t&c']" class="green-link">{{'Terms of Service and Privacy Policy.' | translate}}</span>
              </span>
            </mat-checkbox>
          </div>
        </form>
      </div>
    </div>
  </div>

  <footer class="footer">
    <button mat-raised-button (click)="onSubmit()" type="submit" class="login-button" [disabled]="signupForm.invalid">
      {{ 'Register an Account' | translate }}
    </button>

    <div class="signup-link-box" [routerLink]="['/signin']">
      <span>{{ "Already have an account?" | translate }} </span>
      <span class="green-link" style="margin-left: 4px;"> {{'Log in' | translate}}</span>
    </div>
  </footer>
</div>